{% extends 'base.html' %}
{% block title %}Filmes{% endblock title %}
{% block conteudo %}
<br>
<h2 style="text-align: center">Lista de Filmes</h2>
<br>
<div class="row">
    {% for filme in filmes %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="http://image.tmdb.org/t/p/w500{{filme.backdrop_path}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{filme.title}}</h5>
                <p class="card-text">{{filme.overview}}</p>
                <h4>Nota média <span class="badge bg-secondary">{{filme.vote_average}}</span></h4>
              </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock conteudo %}