{% extends 'base.html' %}

{% block title %}Diário{% endblock title %}

{% block conteudo %}
<h2 style="text-align: center">Diario do Professor</h2>
<hr>
{% for registro in registros %}
    <!--
    <details>
        <sumary>{{registro.aluno}}</sumary>
        <p>{{registro.nota}}</p>
    </details>
    -->
    <p>
      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample_{{registro.aluno}}" role="button" aria-expanded="false" aria-controls="collapseExample_{{registro.aluno}}">
        {{registro.aluno}}
      </a>
    </p>
    <div class="collapse" id="collapseExample_{{registro.aluno}}">
      <div class="card card-body">
        {{registro.nota}}
      </div>
    </div>
{% endfor %}

<form action="{{url_for('sobre')}}" method="POST">
    <div class="form-group">
        <label>Aluno</label>
        <input type="text" class="form-control" name="aluno" placeholder="Digite o nome do aluno" required>
    </div>
    <div class="form-group">
        <label>Nota</label>
        <input type="text" class="form-control" name="nota" placeholder="Digite a nota do aluno" required>
        </br>
        <button class="btn btn-success">Adicionar</button>
    </div>
</form>
</br></br></br><hr>
{% endblock conteudo %}